.procity{
     width:100%;
     height:100%;
     overflow: hidden;
}
.procity .left{
    float:left;
    width:40%;
    height:100%;
    overflow-y: scroll;
}
.procity .left p,.procity .left li{
    display: inline-block;
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}
.procity .left p{
    background:#ccc
}
.procity .left li{
    background:#eee
}
.procity .content{
    float:left;
    width:50%;
    height:100%;
    overflow-y: scroll;
    background:#ccc;
}
 .rightEv li{
    width:100%;
    height:30px;

}
.procity .left .actived{
    background:red
}
.procity .right{
    width:10%;
    height:100%;
    overflow-y: scroll;
    float:right;
    background:#eee
}
.procity .tit p{
 width:100%;
 height:20px;
 line-height:20px;
 text-align:center;
}